{% extends "base.html" %}
{% block pagetitle %}
  {% if is_edit %}
    Редактировать пост
  {% else %}
    Новый пост
{% endif %}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% if is_edit %}
          Редактировать пост
          {% else %}
            Новый пост
          {% endif %}
        </div>
        <div class="card-body">
          {% if form.errors %}
            {% include 'includes/error_control.html' %}
          {% endif %}
          <form method="post"
            {% if is_edit %}
              action="{% url 'posts:post_edit' post_pk %}"
            {% else %}
                action="{% url 'posts:post_create' %}"
            {% endif %}
            >
            {% csrf_token %}
            {% for field in form %}
              {% include 'includes/one_field_form.html' %}
            {% endfor %}
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                {% if is_edit %}
                  Сохранить
                {% else %}
                  Добавить
                {% endif %}
              </button>
            </div>
          </form>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
  </div> <!-- row -->
{% endblock %} 